/* Reset and General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gabarito, Gasoek One, Quicksand;
  background-color: #f8edd9;
}

.about-section {
  text-align: center;
  padding: 2rem;
}

.about-section h2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: 0;
}

.about-section p {
  padding: 0;
  margin: 0;
}

.about-section img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.about-section-description {
  text-align: justify;
}

.about {
  background-color: #337037;
  color: #fabb44;
}

.about img {
  aspect-ratio: 2/1;
  object-fit: cover;
}

.what {
  background-color: #f8edd9;
  color: #d55b2f;
}

.mission {
  background-color: #f0bd46;
  color: #3b6b2a;
}

.vision {
  background-color: #df5a37;
  color: #ecc442;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (min-width: 768px) {
  about-section {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {

  .about-section-description h2 {
    font-size: 2.5rem;
    text-align: left;
  }

  .about-section-description p {
    font-size: 1.2rem;
  }

  .about-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    items-align: right;
  }

  .img-container {
    display: flex;
    justify-content: right;
    align-items: right;
    aspect-ratio: 16/18;
    width: 70%;
    overflow: hidden;
    border-radius: 30px;
  }

  .about-section {
    padding: 5rem 0rem;
  }

  .about-section-content {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
    align-items: center;
    margin: 0 15%;
  }

  .about-section.vision .about-section-content {
    grid-template-columns: 1fr 1fr;
    direction: ltr;
  }

  .about-section.vision .about-section-description h2 {
    direction: rtl;
    text-align: right;
  }

  .about-section.vision .about-section-description p {
    text-align: right;
  }

  .about-section.mission .about-section-content {
    grid-template-columns: 1fr 1fr;
    direction: rtl;
  }

  .about-section.mission .about-section-description {
    direction: ltr;
  }

  .about-section.mission .img-container {
    justify-content: left;
  }
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .about-section.what .about-section-content .img-container {
    justify-content: left;
  }

  .about-section.what .about-section-description {
    text-align: left;
  }

  .about img {
    aspect-ratio: 2/1;
    object-fit: cover;
    width: 80%;
  }
}
